@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LORA-REGULAR";
  src: url("../public/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MINION-PRO-REGULAR";
  src: url("../public/fonts/minion-pro/MinionPro-Regular.otf");
}

@font-face {
  font-family: "NEWSREADER-LIGHT";
  src: url("../public/fonts/newsreader/Newsreader_14pt-Light.ttf");
}

@font-face {
  font-family: "ROBOTO-REGULAR";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "EINA-REGULAR";
  src: url("../public/fonts/eina/Eina01-Regular.ttf");
}
@font-face {
  font-family: "COMPUTER-MODERN-BRIGHT-SEMIBOLD";
  src: url("../public/fonts/ComputerModernBright/cmunbmr.woff");
}

@font-face {
  font-family: "ALLIANCE-N1-BRIGHT";
  src: url("../public/fonts/alliance-no1/AllianceLight1.otf");
}

@font-face {
  font-family: "SPARTAN";
  src: url("../public/fonts/spartan/Spartan-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE-BOLD";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}




