@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LORA-REGULAR";
  src: url("../public/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MINION-PRO-REGULAR";
  src: url("../public/fonts/minion-pro/MinionPro-Regular.otf");
}

@font-face {
  font-family: "NEWSREADER-LIGHT";
  src: url("../public/fonts/newsreader/Newsreader_14pt-Light.ttf");
}

@font-face {
  font-family: "ROBOTO-REGULAR";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "EINA-REGULAR";
  src: url("../public/fonts/eina/Eina01-Regular.ttf");
}
@font-face {
  font-family: "COMPUTER-MODERN-BRIGHT-SEMIBOLD";
  src: url("../public/fonts/ComputerModernBright/cmunbmr.woff");
}

@font-face {
  font-family: "ALLIANCE-N1-BRIGHT";
  src: url("../public/fonts/alliance-no1/AllianceLight1.otf");
}

@font-face {
  font-family: "SPARTAN";
  src: url("../public/fonts/spartan/Spartan-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE-BOLD";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}

@layer components {
  .icon-menu::after {
    content: url("../assets/images/icon-arrow-down.svg");
    display: inline-block;
    transition: all 220ms linear;
    margin-left: 8px;
  }

  html.dark .icon-menu::after {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

  .icon-menu[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  /* //testing */
  
.header {
  @apply w-full z-50 border-y-[1px] font-spartan  py-[33px] 
  border-[#383A3C] sticky
  dark:bg-[#121212] dark:text-white
  text-gray-900 bg-[#EFF4FF]
}

/* // navbar items */
.navbar {
  @apply mx-auto max-w-7xl relative flex flex-wrap items-center justify-between;
}


.collapse-menu {
  @apply fixed right-0 top-0 z-10 mx-0 h-[100vh] w-full max-w-[400px] items-center border-l border-l-slate-950  bg-white p-6 transition-transform duration-300 ease-in-out dark:bg-slate-950 lg:static lg:flex lg:h-auto lg:w-auto lg:max-w-full lg:space-x-4 lg:border-l-0 lg:bg-transparent lg:p-0 xl:space-x-8;
}


.nav-item {
  @apply mb-5 text-left lg:mb-0;
}


.nav-dropdown {
  @apply mr-0;
}


.nav-link {
  @apply rounded-[30px] px-6 py-2.5 text-left  text-[13.5px] capitalize  text-black dark:text-white transition hover:bg-primary hover:text-white  md:px-3 md:py-3 lg:text-center xl:px-5;
}


.nav-dropdown-list {
  @apply z-10 rounded-lg  border border-transparent bg-white p-4 shadow dark:border-slate-700 dark:bg-black;
}

.nav-dropdown-item {
  @apply mb-1.5;
}

.nav-dropdown-link {
  @apply min-w-[150px] rounded py-2.5 px-3.5 text-base font-semibold  text-black dark:text-white transition hover:bg-primary/10 hover:text-primary ;
}




}


