@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LORA-REGULAR";
  src: url("../public/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MINION-PRO-REGULAR";
  src: url("../public/fonts/minion-pro/MinionPro-Regular.otf");
}

@font-face {
  font-family: "NEWSREADER-LIGHT";
  src: url("../public/fonts/newsreader/Newsreader_14pt-Light.ttf");
}

@font-face {
  font-family: "ROBOTO-REGULAR";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "EINA-REGULAR";
  src: url("../public/fonts/eina/Eina01-Regular.ttf");
}
@font-face {
  font-family: "COMPUTER-MODERN-BRIGHT-SEMIBOLD";
  src: url("../public/fonts/ComputerModernBright/cmunbmr.woff");
}

@font-face {
  font-family: "ALLIANCE-N1-BRIGHT";
  src: url("../public/fonts/alliance-no1/AllianceLight1.otf");
}

@font-face {
  font-family: "SPARTAN";
  src: url("../public/fonts/spartan/Spartan-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "LIBRE-BASKERVILLE-BOLD";
  src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}

@layer components {
  .icon-menu::after {
    content: url("../assets/images/icon-arrow-down.svg");
    display: inline-block;
    transition: all 220ms linear;
    margin-left: 8px;
  }

  html.dark .icon-menu::after {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

  .icon-menu[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  /* //testing */

 
  /* // navbar toggler NOT WORKING */
// input#nav-toggle:checked + label #show-button {
//   @apply hidden;
// }

// input#nav-toggle:checked + label #hide-button {
//   @apply block;
// }

// input#nav-toggle:checked ~ #nav-menu {
//   @apply block;
// }

  
.header {
  @apply w-full z-30 border-y-[1px] font-spartan  py-[6px] 
  border-[#383A3C] sticky
  dark:bg-[#121212] dark:text-white
  text-gray-900 bg-[#EFF4FF]
}

/* // navbar items */
.navbar {
  @apply mx-auto max-w-7xl relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-black dark:text-white;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

// .nav-item {
//   @apply mb-5 text-left lg:mb-0;
// }

// .nav-link {
//   @apply rounded-[30px] px-6 py-2.5 text-left  text-[13.5px] capitalize  text-black dark:text-white transition hover:bg-primary hover:text-white  md:px-3 md:py-3 lg:text-center xl:px-5;
// }

.nav-link {
  @apply block p-3  text-black transition hover:text-slate-600  dark:text-white lg:px-2 lg:py-3;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 min-w-[180px] rounded bg-white p-4 shadow dark:bg-slate-900;
}

.nav-dropdown-item {
  @apply mb-2;
}

.nav-dropdown-link {
  @apply block py-1 font-semibold text-black transition hover:text-slate-800 dark:text-white dark:hover:text-slate-500;
}

/* theme-switcher */
.theme-switcher {
  @apply inline-flex;

  label {
    @apply relative inline-block h-4 w-6 cursor-pointer rounded-2xl bg-black dark:bg-white lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply absolute -top-1 left-0 dark:lg:left-4 flex h-6 w-6 items-center justify-center rounded-full bg-black transition-all duration-300 dark:bg-white;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}



}


