.pattern1 {
  background-color:#ff99d1;
  background-image:
  radial-gradient(at 18% 33%, hsla(172,61%,77%,1) 0px, transparent 50%),
  radial-gradient(at 42% 77%, hsla(208,92%,61%,1) 0px, transparent 50%),
  radial-gradient(at 31% 0%, hsla(177,72%,66%,1) 0px, transparent 50%),
  radial-gradient(at 24% 17%, hsla(173,86%,69%,1) 0px, transparent 50%),
  radial-gradient(at 74% 14%, hsla(158,62%,72%,1) 0px, transparent 50%),
  radial-gradient(at 17% 56%, hsla(19,65%,75%,1) 0px, transparent 50%),
  radial-gradient(at 46% 68%, hsla(124,93%,77%,1) 0px, transparent 50%);
}

.pattern2 {
  background-color:#fc99ff;
  background-image:
  radial-gradient(at 3% 8%, hsla(245,62%,65%,1) 0px, transparent 50%),
  radial-gradient(at 98% 22%, hsla(45,93%,61%,1) 0px, transparent 50%),
  radial-gradient(at 3% 79%, hsla(328,69%,78%,1) 0px, transparent 50%),
  radial-gradient(at 70% 94%, hsla(299,92%,60%,1) 0px, transparent 50%),
  radial-gradient(at 94% 36%, hsla(278,70%,77%,1) 0px, transparent 50%),
  radial-gradient(at 85% 25%, hsla(133,77%,78%,1) 0px, transparent 50%),
  radial-gradient(at 26% 43%, hsla(252,89%,66%,1) 0px, transparent 50%);
   
}

.pattern3 {
  background-color:#99a7ff;
  background-image:
  radial-gradient(at 23% 64%, hsla(313,64%,62%,1) 0px, transparent 50%),
  radial-gradient(at 80% 78%, hsla(181,66%,70%,1) 0px, transparent 50%),
  radial-gradient(at 0% 29%, hsla(354,73%,68%,1) 0px, transparent 50%),
  radial-gradient(at 83% 26%, hsla(262,81%,69%,1) 0px, transparent 50%),
  radial-gradient(at 67% 73%, hsla(133,96%,71%,1) 0px, transparent 50%),
  radial-gradient(at 97% 42%, hsla(195,72%,70%,1) 0px, transparent 50%),
  radial-gradient(at 57% 64%, hsla(148,62%,75%,1) 0px, transparent 50%);
}

.pattern4 {
  background-color:#b8ff99;
  background-image:
  radial-gradient(at 85% 60%, hsla(187,75%,65%,1) 0px, transparent 50%),
  radial-gradient(at 82% 44%, hsla(259,65%,63%,1) 0px, transparent 50%),
  radial-gradient(at 91% 89%, hsla(244,98%,64%,1) 0px, transparent 50%),
  radial-gradient(at 11% 62%, hsla(158,90%,78%,1) 0px, transparent 50%),
  radial-gradient(at 60% 76%, hsla(44,80%,69%,1) 0px, transparent 50%),
  radial-gradient(at 93% 61%, hsla(330,75%,68%,1) 0px, transparent 50%),
  radial-gradient(at 96% 83%, hsla(1,75%,73%,1) 0px, transparent 50%);
}

.pattern5 {
  background-color:#99ffeb;
  background-image:
  radial-gradient(at 97% 53%, hsla(254,77%,72%,1) 0px, transparent 50%),
  radial-gradient(at 63% 1%, hsla(118,87%,75%,1) 0px, transparent 50%),
  radial-gradient(at 90% 76%, hsla(65,66%,78%,1) 0px, transparent 50%),
  radial-gradient(at 13% 25%, hsla(286,86%,61%,1) 0px, transparent 50%),
  radial-gradient(at 63% 80%, hsla(49,64%,79%,1) 0px, transparent 50%),
  radial-gradient(at 98% 20%, hsla(353,60%,62%,1) 0px, transparent 50%),
  radial-gradient(at 91% 48%, hsla(38,80%,75%,1) 0px, transparent 50%);
}

.pattern6 {
  background-color:#b199ff;
  background-image:
  radial-gradient(at 27% 59%, hsla(251,93%,75%,1) 0px, transparent 50%),
  radial-gradient(at 30% 65%, hsla(178,93%,71%,1) 0px, transparent 50%),
  radial-gradient(at 75% 93%, hsla(67,89%,69%,1) 0px, transparent 50%),
  radial-gradient(at 63% 88%, hsla(147,76%,76%,1) 0px, transparent 50%),
  radial-gradient(at 17% 37%, hsla(292,75%,72%,1) 0px, transparent 50%),
  radial-gradient(at 66% 77%, hsla(2,79%,74%,1) 0px, transparent 50%),
  radial-gradient(at 58% 92%, hsla(100,90%,74%,1) 0px, transparent 50%);
}

.pattern7 {
  background-color:#99ffeb;
background-image:
radial-gradient(at 97% 53%, hsla(254,77%,72%,1) 0px, transparent 50%),
radial-gradient(at 63% 1%, hsla(118,87%,75%,1) 0px, transparent 50%),
radial-gradient(at 90% 76%, hsla(65,66%,78%,1) 0px, transparent 50%),
radial-gradient(at 13% 25%, hsla(286,86%,61%,1) 0px, transparent 50%),
radial-gradient(at 63% 80%, hsla(49,64%,79%,1) 0px, transparent 50%),
radial-gradient(at 98% 20%, hsla(353,60%,62%,1) 0px, transparent 50%),
radial-gradient(at 91% 48%, hsla(38,80%,75%,1) 0px, transparent 50%);
}


.pattern8 {
  background-color:#c2ff99;
  background-image:
  radial-gradient(at 95% 45%, hsla(47,83%,75%,1) 0px, transparent 50%),
  radial-gradient(at 34% 53%, hsla(175,62%,75%,1) 0px, transparent 50%),
  radial-gradient(at 81% 28%, hsla(287,67%,79%,1) 0px, transparent 50%),
  radial-gradient(at 55% 36%, hsla(154,76%,68%,1) 0px, transparent 50%),
  radial-gradient(at 60% 15%, hsla(29,69%,72%,1) 0px, transparent 50%),
  radial-gradient(at 21% 13%, hsla(251,75%,63%,1) 0px, transparent 50%),
  radial-gradient(at 88% 1%, hsla(1,74%,73%,1) 0px, transparent 50%);
}

.pattern9 {
  background-color:#ff99d1;
  background-image:
  radial-gradient(at 18% 33%, hsla(172,61%,77%,1) 0px, transparent 50%),
  radial-gradient(at 42% 77%, hsla(208,92%,61%,1) 0px, transparent 50%),
  radial-gradient(at 31% 0%, hsla(177,72%,66%,1) 0px, transparent 50%),
  radial-gradient(at 24% 17%, hsla(173,86%,69%,1) 0px, transparent 50%),
  radial-gradient(at 74% 14%, hsla(158,62%,72%,1) 0px, transparent 50%),
  radial-gradient(at 17% 56%, hsla(19,65%,75%,1) 0px, transparent 50%),
  radial-gradient(at 46% 68%, hsla(124,93%,77%,1) 0px, transparent 50%);
}

.pattern10 {
  background-color:#e699ff;
  background-image:
  radial-gradient(at 69% 34%, hsla(112,80%,66%,1) 0px, transparent 50%),
  radial-gradient(at 79% 1%, hsla(326,98%,63%,1) 0px, transparent 50%),
  radial-gradient(at 17% 19%, hsla(7,92%,61%,1) 0px, transparent 50%),
  radial-gradient(at 43% 2%, hsla(40,60%,78%,1) 0px, transparent 50%),
  radial-gradient(at 2% 53%, hsla(208,65%,67%,1) 0px, transparent 50%),
  radial-gradient(at 83% 68%, hsla(137,68%,74%,1) 0px, transparent 50%),
  radial-gradient(at 96% 7%, hsla(95,83%,75%,1) 0px, transparent 50%);
}

.pattern11 {
  background-color:#99fffc;
  background-image:
  radial-gradient(at 9% 54%, hsla(82,83%,69%,1) 0px, transparent 50%),
  radial-gradient(at 71% 69%, hsla(33,67%,73%,1) 0px, transparent 50%),
  radial-gradient(at 27% 66%, hsla(174,98%,62%,1) 0px, transparent 50%),
  radial-gradient(at 67% 58%, hsla(241,93%,62%,1) 0px, transparent 50%),
  radial-gradient(at 37% 94%, hsla(195,99%,61%,1) 0px, transparent 50%),
  radial-gradient(at 99% 86%, hsla(246,74%,69%,1) 0px, transparent 50%),
  radial-gradient(at 40% 98%, hsla(318,68%,63%,1) 0px, transparent 50%);
}

.pattern12 {
  background-color:#99fff7;
  background-image:
  radial-gradient(at 93% 23%, hsla(197,62%,62%,1) 0px, transparent 50%),
  radial-gradient(at 47% 98%, hsla(26,94%,64%,1) 0px, transparent 50%),
  radial-gradient(at 84% 27%, hsla(139,95%,74%,1) 0px, transparent 50%),
  radial-gradient(at 90% 96%, hsla(55,63%,67%,1) 0px, transparent 50%),
  radial-gradient(at 15% 86%, hsla(18,88%,71%,1) 0px, transparent 50%),
  radial-gradient(at 80% 60%, hsla(114,69%,62%,1) 0px, transparent 50%),
  radial-gradient(at 32% 65%, hsla(128,92%,66%,1) 0px, transparent 50%);
}



.pattern13 {
  background-color:#99faff;
background-image:
radial-gradient(at 16% 62%, hsla(325,91%,78%,1) 0px, transparent 50%),
radial-gradient(at 97% 8%, hsla(249,97%,65%,1) 0px, transparent 50%),
radial-gradient(at 99% 91%, hsla(356,60%,75%,1) 0px, transparent 50%),
radial-gradient(at 6% 59%, hsla(86,80%,68%,1) 0px, transparent 50%),
radial-gradient(at 84% 91%, hsla(149,85%,79%,1) 0px, transparent 50%),
radial-gradient(at 73% 51%, hsla(164,83%,78%,1) 0px, transparent 50%),
radial-gradient(at 97% 71%, hsla(48,70%,75%,1) 0px, transparent 50%);
}



.pattern14 {
  background-color:#ffdf99;
background-image:
radial-gradient(at 80% 9%, hsla(288,98%,73%,1) 0px, transparent 50%),
radial-gradient(at 85% 47%, hsla(73,83%,72%,1) 0px, transparent 50%),
radial-gradient(at 88% 91%, hsla(263,71%,73%,1) 0px, transparent 50%),
radial-gradient(at 74% 10%, hsla(86,83%,75%,1) 0px, transparent 50%),
radial-gradient(at 70% 17%, hsla(157,89%,78%,1) 0px, transparent 50%),
radial-gradient(at 65% 95%, hsla(212,61%,68%,1) 0px, transparent 50%),
radial-gradient(at 12% 87%, hsla(234,91%,61%,1) 0px, transparent 50%);
}

.pattern15 {
  background-color: #ff99d8;
  background-image: radial-gradient(
      at 10% 40%,
      hsla(338, 85%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 27% 5%, hsla(121, 60%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 83% 35%, hsla(348, 72%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 47%, hsla(321, 67%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 77%, hsla(81, 61%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 33%, hsla(247, 85%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 31%, hsla(359, 88%, 69%, 1) 0px, transparent 50%);
}

.pattern16 {
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(21, 48%, 41%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(35, 33%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(43, 79%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 58% 67%, hsla(20, 74%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(26, 34%, 16%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(4, 59%, 37%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 48%, hsla(27, 19%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 49% 33%, hsla(24, 40%, 29%, 1) 0px, transparent 50%);
}

.pattern17 {
  background-color:hsla(200,68%,7%,1);
background-image:
radial-gradient(at 53% 55%, hsla(200,68%,7%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(200,30%,20%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(205,24%,31%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(214,93%,30%,1) 0px, transparent 50%);
}


